#grid-container {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 800px;
    border: 2px solid black;
    margin: auto;
}

.grid-row {
    display: flex;
    flex-grow: 1;
}

.grid-item {
    flex-grow: 1;
    background: white;
    border: 1px dotted black;
}

button {
    font-size: 24px;
    display: block;
    margin: 0px auto 10px auto;
    padding: 10px;
    border-radius: 5px;
    background: lightsteelblue;
}