#grid-container {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 800px;
}

.grid-row {
    display: flex;
    flex-grow: 1;
}

.grid-item {
    flex-grow: 1;
    background: red;
    border: 1px solid black;
}

.grid-item-hover {
    background: gold;
}

button {
    margin-bottom: 10px;
}